/* Flexbox styling for images */
.container{
 width: 80%;
 height: auto;
}
/* Temporary display fitting */
.image{
    width: 25%;
    /* height: 25%; */
    padding: 25px;
    justify-content: space-around;
}
.flexbox,
.flexbox2,
.flexbox3{
    display: flex;
    
}